# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test / cache
coverage
.vite
.eslintcache

# env
.env
.env.*
!.env.example

# PWA generated
dev-dist
